data visualization.json
[{"id":"a526183d.0d68c8","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"c78ff701.9821e8","type":"ui_text","z":"a526183d.0d68c8","group":"90c123fb.9f9d2","order":5,"width":0,"height":0,"name":"","label":"Name","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":60,"wires":[]},{"id":"f498582c.227958","type":"inject","z":"a526183d.0d68c8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Pham Ngoc Anh","payloadType":"str","x":270,"y":40,"wires":[["c78ff701.9821e8"]]},{"id":"a57277ce.78a0c8","type":"inject","z":"a526183d.0d68c8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"19127098","payloadType":"str","x":270,"y":120,"wires":[["5a815892.d429a8"]]},{"id":"5a815892.d429a8","type":"ui_text","z":"a526183d.0d68c8","group":"90c123fb.9f9d2","order":5,"width":0,"height":0,"name":"","label":"ID","format":"{{msg.payload}}","layout":"row-spread","x":630,"y":100,"wires":[]},{"id":"49474cc0.6a39e4","type":"ui_button","z":"a526183d.0d68c8","name":"","group":"27c42f1.5e54dd","order":0,"width":0,"height":0,"passthru":true,"label":"INSERT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"slider","payloadType":"flow","topic":"payload","topicType":"msg","x":200,"y":320,"wires":[["30c41bd2.911064"]]},{"id":"ac059f33.8714f","type":"ui_button","z":"a526183d.0d68c8","name":"","group":"53b3e84f.6df038","order":5,"width":0,"height":0,"passthru":false,"label":"REFRESH","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":90,"y":480,"wires":[["eedf397a.376568"]]},{"id":"eedf397a.376568","type":"http request","z":"a526183d.0d68c8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/channels/1464267/fields/1.json?api_key=D6PCZR2XLT03M8FY&timezone=Asia/Bangkok&results=100","tls":"","persist":false,"proxy":"","authType":"","x":290,"y":480,"wires":[["ea5992bb.379a4"]]},{"id":"12a179e7.c5b7a6","type":"change","z":"a526183d.0d68c8","name":"","rules":[{"t":"set","p":"ID","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":260,"wires":[[]]},{"id":"30c41bd2.911064","type":"change","z":"a526183d.0d68c8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"ID","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":320,"wires":[["eda7753b.adad68"]]},{"id":"445a8630.54e5c8","type":"ui_slider","z":"a526183d.0d68c8","name":"","label":"Temperature","tooltip":"","group":"27c42f1.5e54dd","order":1,"width":0,"height":0,"passthru":true,"outs":"end","topic":"payload","topicType":"msg","min":0,"max":"100","step":1,"x":190,"y":260,"wires":[["12a179e7.c5b7a6"]]},{"id":"eda7753b.adad68","type":"http request","z":"a526183d.0d68c8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://api.thingspeak.com/update?api_key=WBRUMA518WIGPO8G&field1={{{payload}}}","tls":"","persist":false,"proxy":"","authType":"","x":630,"y":320,"wires":[[]]},{"id":"5b1d3846.1c1478","type":"ui_chart","z":"a526183d.0d68c8","name":"","group":"53b3e84f.6df038","order":0,"width":0,"height":0,"label":"{{msg.data}}","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":1050,"y":500,"wires":[[]]},{"id":"2932788a.14d788","type":"function","z":"a526183d.0d68c8","name":"Setup payload","func":"\nvar payload = msg.payload;\nvar data = [];\nfor(let i =0;i<payload.feeds.length;i++)\n{\n\n\nvar temp1 = {\"x\": payload.feeds[i].created_at,\"y\":parseInt(payload.feeds[i].field1)};\ndata.push(temp1);\n    \n}\n\nvar dataforcharts =[];\ndataforcharts.push(data);\nmsg.payload=[{\n    \"series\": [ \"temperature\"],\n    \"data\": dataforcharts,\n    \"labels\": [ \"IoT-HCMUS\" ]\n}];\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":480,"wires":[["5b1d3846.1c1478","1110380.364a4c8"]]},{"id":"ea5992bb.379a4","type":"json","z":"a526183d.0d68c8","name":"","property":"payload","action":"","pretty":false,"x":520,"y":480,"wires":[["2932788a.14d788"]]},{"id":"1110380.364a4c8","type":"debug","z":"a526183d.0d68c8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1020,"y":620,"wires":[]},{"id":"88cfa948.089e98","type":"inject","z":"a526183d.0d68c8","name":"","props":[{"p":"payload"}],"repeat":"1","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"19CLC6","payloadType":"str","x":270,"y":180,"wires":[["6edbe013.081a6"]]},{"id":"6edbe013.081a6","type":"ui_text","z":"a526183d.0d68c8","group":"90c123fb.9f9d2","order":5,"width":0,"height":0,"name":"","label":"Class","format":"{{msg.payload}}","layout":"row-spread","x":500,"y":160,"wires":[]},{"id":"90c123fb.9f9d2","type":"ui_group","name":"My Profile","tab":"5f73a29f.e7337c","order":1,"disp":true,"width":"6","collapse":false},{"id":"27c42f1.5e54dd","type":"ui_group","name":"Data","tab":"da7b9749.8097a8","order":3,"disp":true,"width":"6","collapse":false},{"id":"53b3e84f.6df038","type":"ui_group","name":"Chart","tab":"da7b9749.8097a8","order":4,"disp":true,"width":"6","collapse":false},{"id":"5f73a29f.e7337c","type":"ui_tab","name":"My Profile","icon":"dashboard","disabled":false,"hidden":false},{"id":"da7b9749.8097a8","type":"ui_tab","name":"Visualization","icon":"dashboard","disabled":false,"hidden":false}]